body{
    border: none;
    border-color: black;
    box-sizing: 50%;
    height: 500px;
    width: 400px;
    padding-bottom: 70px;
    margin-left: 500px;
    box-shadow:0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    border-radius: 30px;
    margin-top: 20px;
}

.container{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    margin-bottom: 0;
    }

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    
}

a{
    color: black;
    text-decoration: none;
    margin: 0%;
    margin-right: 10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}

.whatsapp , .instagram ,.facebook , .linkedin , .xtwitter {
margin: 10px;
display: flex;
align-items: center;
border: none;
border-radius: 50px;
border-color: lightgray;
box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
background-color: rgb(247, 244, 244);
height: 30px;
width: 170px;
padding-left: 40px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 30px;
}



img{
    width: 25px;
    border-radius: 15px;
    margin-right: 20px;
}